.label
    display: flex
    flex-direction: row
    gap: 5px
    align-items: center
    justify-items: center
    place-items: center

@keyframes toCheck
    0%
        transform: scale(0)
    100%
        transform: scale(1)

@keyframes fromCheck
    0%
        transform: scale(1)
    100%
        transform: scale(0)

.input
    -webkit-appearance: none
    appearance: none
    background-color: #ffffff3c
    margin: 0
    
    width: 1em
    height: 1em
    border: 1.5px solid #000000
    border-radius: 0.15em

    display: grid
    place-content: center

    overflow: hidden

    &:hover
        background-color: #ffffff5e

    &:checked
        background-color: theme("colors.fuchsia.600" / 80%)

    &:hover:checked
        background-color: theme("colors.fuchsia.400" / 80%)
