@keyframes dialogAppear
    0%
        transform: scale(0)
    100%
        transform: scale(1)

@keyframes backdropAnim
    0%
        backdrop-filter: blur(0)
        background-color: #00000000
    100%
        backdrop-filter: blur(4px)
        background-color: theme('colors.pink.800' / 10%)
    
.dialog
    animation: dialogAppear 0.2s ease-out both
    @apply rounded-lg p-4

    &::backdrop
        animation: 0.2s backdropAnim linear both
