@tailwind base
@tailwind components
@tailwind utilities

body 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    @apply text-fuchsia-950 bg-fuchsia-100

h1,h2,h3,h4,h5,h6
    @apply font-bold

h1
    @apply text-4xl

h2
    @apply text-2xl

a
    text-decoration: none
    
    &:hover
        text-decoration: dotted
    
textarea
    @apply resize-none p-3 rounded-lg border-2

    &:hover
        @apply border-rose-600 